<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Professional Experience</h2>
                <hr class="light">
                <p class="text-faded">I have developed robust experience across finance, consulting, and education industries. I have contributed to projects at leading organizations, helping teams optimize data-driven strategies and deliver actionable insights for business growth. My background includes working with multinational firms as well as collaborative research in academic environments, allowing me to drive value in both corporate and interdisciplinary settings.</p>
                <a href="#" class="btn btn-default btn-xl">Connect with me!</a>
            </div>
        </div>
    </div>
</section>
