<section class="bg-primary" id="experience">
    <div class="container">
        <h2 class="section-heading text-center">Professional Experience</h2>
        <hr class="light">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card">
                    <i class="fa fa-building fa-2x" style="color:#e15a38;"></i>
                    <h4>Finance Corp</h4>
                    <p class="text-faded">Data Analyst<br><em>2022–Present</em></p>
                    <p>Predictive analytics for investment and executive dashboards.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card">
                    <i class="fa fa-briefcase fa-2x" style="color:#e15a38;"></i>
                    <h4>Big Consulting</h4>
                    <p class="text-faded">Consultant<br><em>2020–2022</em></p>
                    <p>Segmentation and KPI projects for retail clients.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card">
                    <i class="fa fa-graduation-cap fa-2x" style="color:#e15a38;"></i>
                    <h4>University of Example</h4>
                    <p class="text-faded">Research Assistant<br><em>2018–2020</em></p>
                    <p>Education analytics and published research.</p>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin-top: 2em;">
            <a href="#" class="btn btn-default btn-xl">Connect with me!</a>
        </div>
    </div>
</section>
