<section class="bg-primary" id="experience">
    <div class="container">
        <h2 class="section-heading text-center">Professional Experience</h2>
        <hr class="light">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="card">
                    <img src="img/bcp.jpg" alt="Finance Corp Logo" class="company-logo">
                    <h4>Finance Corp</h4>
                    <p class="text-faded">Data Analyst<br><em>2022–Present</em></p>
                    <p>Developed predictive analytics for investment strategy and supported executive dashboards.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card">
                    <i class="fa fa-briefcase fa-2x" style="color:#e15a38;"></i>
                    <h4>Big Consulting</h4>
                    <p class="text-faded">Consultant<br><em>2020–2022</em></p>
                    <p>Advised retail clients on customer segmentation and KPI design for business growth.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card">
                    <i class="fa fa-graduation-cap fa-2x" style="color:#e15a38;"></i>
                    <h4>University of Example</h4>
                    <p class="text-faded">Research Assistant<br><em>2018–2020</em></p>
                    <p>Led data-driven research projects and published findings in academic journals.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card">
                    <i class="fa fa-users fa-2x" style="color:#e15a38;"></i>
                    <h4>Education Initiative</h4>
                    <p class="text-faded">Program Coordinator<br><em>2017–2018</em></p>
                    <p>Managed analytics for education outreach and supported cross-functional program teams.</p>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin-top: 2em;">
            <a href="#" class="btn btn-default btn-xl">Connect with me!</a>
        </div>
    </div>
</section>
