<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi, I'm Gabriela Gismondi!</h1>
            <hr>
            <p>Data Analyst and Economist from Peru, currently living in Washington D.C. I have 5+ years of experience in data analytics, customer segmentation, and strategic insights. Skilled in SQL, Python, R, and Tableau.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
